/* color : #163055 */


.main{
    background-color: black;
}

#pg-1{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: linear-gradient(90deg, #a20071, #F06292);
    background-repeat: no-repeat;
    background-origin: content-box;
}

#logo{
    display: block;
    width: 20vw;
    padding: 0.4rem;
    height: auto;
}

.welcome{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: auto;
    height: 100%;
}

.welcome span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color : whitesmoke;
}

.welcome p{
    color: rgb(194, 224, 235);
}

.welcome button{
    align-content: center;
    align-self: center;
    margin-top: 0.5em;
    padding: 1.2em;
    background-color: transparent;
    color: white;
    border-style: solid;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 500ms ease-in-out;
}

.welcome button:hover{
    box-shadow: white 10px 10px 1px;
    background-color: white;
    color: black;
}

.welcome .small{
    /* margin: 0.5em 0; */
    font-size: 1em;
}

.dates{
    margin-top: 1em;
    align-self: center;
}
.welcome .social .social-icon{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom:0;
    right:0;
    padding: 1em
}

.cstm-btn{
    color: white;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: transparent;
}

#pg-2{
    background-image: url('../assets/svg/prismshape-bg.svg');
    background-size: cover;
    width: inherit;
    height: 100vh;
    background-color: #E6E6E6;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pg-2 article{
    margin: 5%;
    display: flex;
    flex-direction: row;

}

.uk-article p{
    font-size: 1.2em;
    white-space: space pre;
    color: #616161;
    width: auto;
    margin-right: 1em;    
}

.uk-article .c-1{
    width: 70%;
}

.c-2 video{
    width: 50vw;
    height: auto;
}



@media screen and (min-width: 700px){

    .welcome .dates{
        align-self: flex-start;
    }
    .welcome button{
        align-self: start;
    }
}


@media screen and (max-width: 800px){
    #pg-2 article{
        flex-direction: column;
    }
    .uk-article p{
        margin-right: 0; 
    }
    .c-2 video, .uk-article .c-1{
        width: auto;
        height: auto;
    }
    #pg-2{
        background-position: center;
    }
}

@media screen and (max-height: 550px){
    #pg-1{
        background-image: none;
        background-color: #163055;
    }
}
